{
    "check-coverage": false,
    "per-file": false,
    "lines": 90,
    "statements": 90,
    "functions": 85,
    "branches": 80,
    "include": [
      "src/**/*.js"
    ],
    "exclude": [
      "spec/**/*.spec.js"
    ],
    "reporter": [
      "lcovonly",
      "html",
      "text",
      "cobertura",
      "json"
    ],
    "cache": true,
    "all": true,
    "report-dir": "./reports/coverage/"
}
