sudo: false
language: node_js
cache:
  directories:
    - ~/.npm

notifications:
  email: false

node_js:
  - '8'
  - 'node'
before_install:
  - npm i -g npm
before_script:
  - npm prune

script:
  - npm run pre-release

after_success:
  - npm run upload-coverage
  - npm run travis-deploy-once "npm run semantic-release"

branches:
  except:
    - /^v\d+\.\d+\.\d+$/
